.gallery-ov{
	margin-left: 60px;
}
.lb-album ul{
	width: 900px;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;
}
.lb-album li{
	float: left;
	margin: 5px;
	position: relative;
	list-style: none;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
}
.lb-album li > a{
	width: 160px;
	height: 160px;
	position: relative;
	padding: 5px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px 2px 2px 2px;
}
.lb-album li > a span{
	position: absolute;
	width: 150px;
	height: auto;
	top: 40%;
	left: 5px;
	text-align: center;
	line-height: 25px;
	font-size: 20px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
}
.lb-overlay > div{
	position: relative;
	width: auto;
	display: inline-block;
	margin: -50% auto 0px auto;
	overflow: hidden;
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
}
.lb-overlay div h3{
	font-size: 28px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
	color: #b91a40;
}
.lb-overlay div h3 span,
.lb-overlay div p{
	padding-top: 5px;
	font-size: 18px;
	color: #ffffff;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
	background: rgba(0,0,0,0.6);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 53px;
	left: 50%;
	font-size: 15px;
	line-height: 26px;
	text-align: center;
	width: auto;
	padding: 10px;
	text-decoration: none;
	letter-spacing: 1px;
	overflow: hidden;
	margin-left: -25px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-webkit-transition: opacity 0.3s linear 1.2s;
	-moz-transition: opacity 0.3s linear 1.2s;
	-o-transition: opacity 0.3s linear 1.2s;
	-ms-transition: opacity 0.3s linear 1.2s;
	transition: opacity 0.3s linear 1.2s;
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	width: auto;
	max-height: 450px;
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 100px 10px 120px 10px;
}
.lb-overlay:target img {
	-webkit-animation: scaleDown 1.2s ease-in-out;
	-moz-animation: scaleDown 1.2s ease-in-out;
	-o-animation: scaleDown 1.2s ease-in-out;
	-ms-animation: scaleDown 1.2s ease-in-out;
	animation: scaleDown 1.2s ease-in-out;
	display: block;
  max-width: 100%;
  height: auto;
   margin-right: auto;
  margin-left: auto;
}
.lb-overlay:target a.lb-close,
.lb-overlay:target > div{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
@media (max-width: 1024px) {
	.gallery-ov{
		margin-left: 100px;	
	}
}
@media (max-width: 768px) {
	.gallery-ov{
		margin-left: 80px;	
	}
}
@media (max-width: 480px) {
	.gallery-ov{
		margin-left: 30px;	
	}

}
@media (max-width: 320px) {
	.gallery-ov{
		margin-left: 0;	
	}
	.lb-album li > a{
	width: 110px;
	height: 110px;
	
	padding: 1px;
	
}
.lb-album li > a span{
	width: 100px;
	height: auto;
	top: 30%;
	left: 1px;
	}
}
@-webkit-keyframes scaleDown {
  0% { -webkit-transform: scale(10,10); opacity: 0; }
  100% { -webkit-transform: scale(1,1); opacity: 1; }
}
@-moz-keyframes scaleDown {
  0% { -moz-transform: scale(10,10); opacity: 0; }
  100% { -moz-transform: scale(1,1); opacity: 1; }
}
@-o-keyframes scaleDown {
  0% { -o-transform: scale(10,10); opacity: 0; }
  100% { -o-transform: scale(1,1); opacity: 1; }
}
@-ms-keyframes scaleDown {
  0% { -ms-transform: scale(10,10); opacity: 0; }
  100% { -ms-transform: scale(1,1); opacity: 1; }
}
@keyframes scaleDown {
  0% { transform: scale(10,10); opacity: 0; }
  100% { transform: scale(1,1); opacity: 1; }
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}